.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    /* border: 1px solid black; */
    width: 200px;
    height: 200px;
}

.buttons{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
    width: 70%;
    height: 30%;
}

.buttons button{
    font-size: 20px;
    width: 40%;
    height: 80%;
}