.cuadrado{
    width: 200px;
    height: 200px;
    background-color: white;
    border: 5px solid black;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.orange{
    background-color: orange;
}
.green{
    background-color: green;
}

.black{
    background-color: black;
}